.bs-callout-info{ width:500px; border: 1px solid #eee; border-left-color: #1b809e; padding: 20px; margin: 40px auto 0 auto; border-left-width: 5px; border-radius: 3px;}

#checkDiv{ width:500px;	margin:40px auto 0 auto; }

#checkTable th{ width:80px; }

#checkTable tr{ height:60px; }

#checkTable td{	width:400px; }

#btnSubmit{	margin-left:100px; }